/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */


body {
  background-color:#34495E;
}

h1 {
	font-family: Orbitron;
	color: #E65C00;
	font-size: 4em;
}


.orange-no-dec {
	text-decoration: none;
	color: #E65C00;
}

.orange-no-dec:hover {
	text-decoration: none;
	color: silver;
}

.name-header {
	margin-top:10px;
}

.navigation-header > a {
	margin-left:10px;
	font-size:1.2em;
}
.navigation-header {
	margin-top:40px;
}
.contact > a {
	margin-left:10px;
}

.post-preview {
	background-color:#ECF0F1;
	padding: 0px 10px 10px 10px;
}

.about-me-header p > a:hover {
	color:silver;
}
.about-me-header p {
	color:silver;
}
.about-me-header h2 {
	color:#E65C00;
}
.footer p {
	color:#E65C00;
}
.footer p > a:hover {
	color:#E65C00;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}



/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
