<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

		
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Wallpoet|Orbitron' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span6 name-header">
					<h1><a class="orange-no-dec" href="/">{{site.name }}</a></h1>
				</div>
				<div class="span4 offset1 navigation-header">
					<a class="orange-no-dec" href="/">home</a>
					<a class="orange-no-dec" href="/about">about</a>
				</div>
			</div>
			<div class="posts-display well" style="background-color:white;">
				{{ content }}
			</div>
			<div class="footer">
				<div class="contact">
					<a class="orange-no-dec" href="//github.com/ctlevi">
						<i class="icon-github icon-3x"></i> 
					</a>
					<a class="orange-no-dec" href="//www.facebook.com/christopher.tate.758">
						<i class="icon-facebook icon-3x"></i>
					</a>
					<a class="orange-no-dec" href="//twitter.com/ctlevi">
						<i class="icon-twitter icon-3x"></i>
					</a>
				</div>
			</div>
		</div> <!-- /container -->

	</body>
</html>
